.appdiv {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 50px;
    min-width: 600px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logout{
    display: flex;
    justify-content: right;
    margin-right: 88px;
    margin-top: 40px;
    transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
    position: relative;
}
.logout:hover {
    transform: translateX(60px); /* Desplaza el elemento hacia la derecha */
}


.appdiv:hover{
    transform: scale(1.1);
    border: 2px;
    border-color: rgb(57, 57, 57);
}
.app2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.taskdescription{
    font-family: 'Inclusive Sans', sans-serif;
}